.not-found {
  background-image: url(../../assets/images/404.png);
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  // background-color: $gray-200;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 150;
}