<header>
    <nav class="navbar navbar-red navbar-expand-lg justify-content-between">
        <a class="navbar-brand" href="#" @click.prevent='goToMain'>Youtube</a>

        <form class="input-group" @submit.prevent="search">
            <div class="input-group">
                <input type="text" class="form-control" v-model="query" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text" id="basic-addon1">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
        </form>

        <div class="nav-actions">
            <button class="btn btn-conf" @click="openConfiguration">
                <span class="fas fa-cog" />
            </button>
        </div>
    </nav>
</header>