<header>
    <nav class="navbar navbar-red navbar-expand-lg justify-content-between">
        <a class="navbar-brand" href="#" @click.prevent='goToMain'>Youtube</a>

        <form class="input-group" @submit.prevent="search">
            <div class="input-group">
                <input type="text" class="form-control" v-model="query" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text" id="basic-addon1">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
        </form>

        <div class="nav-actions">
                <!-- <ul class="navbar-nav mr-auto float-left">
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="monday">M</label>
                        <p class="mb-0 text-center" >{{ watchTime.monday }}</p>
                    </li>    
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="tuesday">T</label>
                        <p class="mb-0 text-center" >{{ watchTime.tuesday }}</p>
                    </li>
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="wednesday">W</label>
                        <p class="mb-0 text-center" >{{ watchTime.wednesday }}</p>
                    </li>
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="thursday">T</label>
                        <p class="mb-0 text-center" >{{ watchTime.thursday }}</p>
                    </li>
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="friday">F</label>
                        <p class="mb-0 text-center" >{{ watchTime.friday }}</p>
                    </li>
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="saturday">S</label>
                        <p class="mb-0 text-center" >{{ watchTime.saturday }}</p>
                    </li>
                    <li class="mr-3">
                        <label class="mb-0 text-center" for="sunday">S</label>
                        <p class="mb-0 text-center" >{{ watchTime.sunday }}</p>
                    </li>
                </ul> -->







            <button class="btn btn-conf" @click="openConfiguration">
                <span class="fas fa-cog" />
            </button>
            <!--<ul class="navbar-nav mr-auto float-left">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fas fa-user"></span>
                      <span class="text">{{ username }}</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <router-link class="dropdown-item" to="configuration">
                          <span class="fas fa-cogs"></span>
                          <span class="text">Configuration</span>
                      </router-link>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" @click.prevent="logout">
                          <span class="fas fa-sign-out-alt"></span>
                          <span class="text">Logout</span>
                      </a>
                  </div>
              </li>
          </ul> -->
        </div>
    </nav>
</header>