a {
	color: #fff;
}
.navbar-red, .btn-conf {
	background-color: #f73c39;
	color: #fff;
}
.navbar-red {
	box-shadow: 0 3px 6px #ccc;
}
.input-group {
	max-width: 450px;
	border: none;
}
.input-group-text {
	border: none;
}

label, p {
	font-size: 10px;
}

@media (max-width: 480px) {
    .btn-conf {
		position: absolute;
		top: 10px;
		right: 15px;
	} 
	.navbar-brand {
		margin-bottom: 5px;
	}
	.input-group {
		margin-bottom: 10px;
	}
}
